<h1 class="counter-strike">Counter Strike</h1>

<form #loginForm="ngForm" (submit)="login()">

  <div class="container mt-5 login">

    <div class="input-group mb-3">

      <input type="text"
             class="form-control"
             placeholder="Username"
             aria-label="Username"
             aria-describedby="basic-addon1"
             name="username"
             [(ngModel)]="user.username">
    </div>

    <div class="input-group mb-3">

      <input type="password"
             class="form-control"
             placeholder="Password"
             aria-label="Password"
             aria-describedby="basic-addon1"
             name="password"
             [(ngModel)]="user.password">
    </div>

    <div class="input-group mb-3">

      <input type="number"
             class="form-control"
             placeholder="number"
             aria-label="Number"
             aria-describedby="basic-addon1"
             name="teste"
             (keyup)="isNumber($event)"
             [(ngModel)]="user.id">
    </div>

    <div class="input-group mb-3">

      <input type="submit"
             value="LOGIN"
             class="btn btn-success">
    </div>

    <div class="alert alert-danger"
         *ngIf="errorMsg">
      <strong>Invalid username or password!</strong>
    </div>
  </div>

</form>
