<div class="container-fluid">
  <div class="clearfix">
    <header class="row-fluid text-center">
      <h1>CS-GO Ranking</h1>
    </header>

    <section class="row-fluid text-center">
      <input [(ngModel)]="user.username" type="text" id="username" class="validate" placeholder="username"><br>
      <input [(ngModel)]="user.password" type="password" class="validate" id="password" placeholder="password"><br>
      <button (click)="login()" class="btn btn-success" type="submit" name="action">LOGIN</button>
      <br>
      <span>{{errorMsg}}</span>
    </section>

  </div>
</div>

